form.form(name="vm.phoneForm", ng-submit="vm.submitForm(vm.phone)",
    ng-class="{'editing': vm.state === 'edit', 'adding': vm.state === 'add'}")
    .form-group
        .form-item
            .form-label
                span Model:
                span.form-value {{vm.phone.model}}
            .form-field
                lx-text-field(label="Model")
                    input(name="modelInput", type="text", ng-model="vm.phone.model")
        .form-item
            .form-label
                span OS:
                span.form-value {{vm.phone.os}}
            .form-field
                lx-select(name="osSelct" ng-model="vm.phone.os",
                    placeholder="OS Type", choices="vm.selects.src", floating-label,
                    selection-to-model="vm.selects.toModel(data, callback)",
                    model-to-selection="vm.selects.toSelection(data, callback)"
                )
                    lx-select-selected {{$selected.name}}
                    lx-select-choices {{$choice.name}}
        .form-item
            .form-label
                span Price:
                span.form-value {{vm.phone.price}}
            .form-field
                lx-text-field(label="Price")
                    input(name="priceInput", type="text", ng-model="vm.phone.price",
                        aio-validate-number)
    .form-group
        .form-item
            .form-label
                span Screen Size:
                span.form-value {{vm.phone.size}}
            .form-field
                lx-text-field(label="Screen Size")
                    input(name="sizeInput", type="text", ng-model="vm.phone.size",
                        aio-validate-number)
        .form-item
            .form-label
                span Manufacturer:
                span.form-value {{vm.phone.manufacturer}}
            .form-field
                lx-text-field(label="Manufacturer")
                    input(name="manufacturerInput", type="text",
                        ng-model="vm.phone.manufacturer")
        .form-item
            .form-label
                span Release Date:
                span.form-value {{vm.phone.releaseDate | date: 'MMMM d, yyyy'}}
            .form-field
                lx-date-picker(name="releaseDateInput", label="Release Date",
                    model="vm.phone.releaseDate")
    .actions(class="mt p+")
        button.btn.btn--m.btn--white.btn--raised.btn-cancel(ng-click="vm.cancel()") Cancel
        button.btn.btn--m.btn--green.btn--raised.btn-save(type="submit",
            ng-disabled="vm.phoneForm.$invalid || vm.phoneForm.$pristine") Save

